html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#808080,#87CEEB);
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
#navbarNav li:hover{
  transition: 0.5s;
  font-weight: bolder;
}
.navbar-nav {
  margin: auto;
}
.homeIcon{
  width: 20px;
  height: 20px;
  position: fixed;
  bottom: 10px;
  right: 5px;
}

.homeContainer{
display: flex;
width: 100%;
flex: 1;
height: 100vh;
}
.profilePic img{
 width: 400px;
 height: auto;
 border-radius: 10px;
}
.aboutMeText p{
  color:black;
}
.aboutMePic img{
  border-radius: 10px;
}


.educationContainer{
  color:black;
}

.skillsText p{
color: black;
}
.footerButton{
  width: 40px;
  height: 40px;
  }
